@import url('https://fonts.googleapis.com/css2?family=Yomogi&family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Yomogi&family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px; 
	text-decoration: none;
}
body {
	font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}
.brandItems{
	font-weight: 700;
	font-size: 22px;
}

.navItems{
		font-size: 17px;
}

.navbar .navbar-nav .nav-link {
	color: #fff;
	position: relative;
  }
  .navbar .navbar-nav .nav-link:hover {
	color: #fff;
  }
  .navbar .navbar-nav .nav-link::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #fff;
	color: transparent;
	width: 0%;
	content: '.';
	height: 1px;
  }
  .navbar .navbar-nav .nav-link:hover::after {
	width: 100%;
  }

.middle{
	position: relative;
	text-align: center;
	margin-top: 40px;

  }
  .btn{
	background: none;
	border: 2px solid #000;
	font-family: "montserrat",sans-serif;
	text-transform: uppercase;
	padding: 12px 20px;
	min-width: 200px;
	margin: 10px;
	cursor: pointer;
	transition: color 0.4s linear;
	position: relative;
  }
  .btn:hover{
	color: #fff;
  }
  .btn::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: -1;
	transition: transform 0.5s;
	transform-origin: 0 0;
	transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  }
  .btn1::before{
	transform: scaleX(0);
  }
  .btn2::before{
	transform: scaleY(0);
  }
  .btn1:hover::before{
	transform: scaleX(1);
  }
  .btn2:hover::before{
	transform: scaleY(1);
  }
  
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/left.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/right.png);
}

.titleMessage {
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 6;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
	font-size: 80px;
	letter-spacing: 15px
}

.titleMessage .heading .sub {
	font-family: 'Yomogi', cursive;
	text-shadow: 0.3px 0.3px 0.3px 0.3px #000;
	font-size: 40px;
	color: #F7EA78;
	font-weight:500;
}

.section {
	padding: 100px 0;
}

.aboutImage {
	width: 80%;
	border-radius: 80%;
	position: relative;
}

.skillsSection{
	background-color: #39A2DB;
	color: #fff;
}
span + h2{
	color: #f5f378;
	margin-top: 10px;
}

h1 + p{
	font-family: 'Yomogi', cursive;
	font-size: 25px;
	font-weight: 600;
	color: #f5f378;
	margin-bottom: 5px;

}

span + h2 + p{
	font-family: 'Kodchasan', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-top: 50px;
}

.skill {
	text-align: center;
	margin-left: 10px;
}

.chart {
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}


.chart canvas {
	position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
	color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
	content: '%';
}

.aboutMeText{
	font-size: 20px;
}
.owl-carousel {
	margin-top: 50px;
}

.filter a{
	 color: #bdc3c7; 
	 border: 1px solid #bdc3c7;
	 padding: 10px 18px;
	 display: block;
	 text-decoration: none;
}

.filter li {
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
}

.filter .current{
	background-color: #39A2DB;
	border-color: #39A2DB;
	
	color: #fff;
}

.filter{
	text-align: center;
	width: 100%;
}
.section .heading{
	text-align: center;
	padding-bottom: 40px;
	width: 100%;

}
.copyrightsection{
	background-color: #000;
	padding: 30px 5px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
}

.copyrightsection p{
	margin: 0;
}

#navigation{
	background-color: #39A2DB;
	background-color: #000;
	padding: 20px 10px;
	z-index: 100;
	width: 100%;
}


#navigation li{
	padding: 0 10px;
}
.navbar-toggler-icon{
	background:url("https://img.icons8.com/material-outlined/24/ffffff/squared-menu.png");
	background-size: 100%;
}
.navbar-collapse.in {
    display: block !important;
}
#navigation li a{
	color: #fff;
}
.navbar-brand,.navbar-brand:hover{
	color: #fff;
}


.fixedNav #navigation{
	position: fixed;
	top: 0;
}
.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;

}

.loading{
	font-family: 'Grand Hotel', cursive;
	color: #39A2DB;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 120vh;
	margin:0;
	margin-top: 40px;
	overflow: hidden;
	font-size: 50px;
}


.loader .inner{
	width: 100%;
	height: 100%;
	background: url("../img/icons/preload.gif") center center no-repeat;
}

.section-4{
	width: 100%;
	height: 80vh;
	background-color: #39A2DB;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly; 
}

.section-4-heading{
	color: #fff; 
}

.contact-form{
	width: 50rem;
	flex-direction: column;
}

.contact-form input, .contact-form textarea{
	width: 100%;
	padding: 0.5rem;
	margin: 0.5rem 0;
	font-size: 1.5rem;
	background-color:#fff;
	border: .2rem solid #fff;
	color:#000;
}

.contact-form textarea{
	height: 10rem;
	max-height: 15rem;
	max-width: 100%;
	
}

.contact-form .contact-form-btn{
	background-color:#f5f378;
	
	color:#000;
	text-transform: uppercase;
	letter-spacing:1rem;
	cursor:pointer;
	border: .2rem solid #f5f378;
	width: 25%;
	border-radius: 5%;
	
}
textarea{
	resize: none;
}

.slideShow{
	display: flex;
	width: 50rem;
}
.slideShow-link{
	width: 20%;
}

.slideShow-link img{
	width: 10%;
}
.section-5{
	width: 100%;
	height: 15vh;
	display: flex;
	background-color:#000;
	flex-direction: column;
	text-decoration: none;
}
.social-media{
	margin-bottom: 5rem;
	text-decoration: none;
}

.social-media-link{
	padding: .7rem;
	margin: 0.2rem;
	color:#fff;
	border-radius:0.5rem;
	text-decoration: none;
}

/*
<div class="copyrightsection">
            <div class="col-md-12 text-center">
                <p>&copy; Copyright 2021</p>
            </div>
        </div>
		*/